.button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  margin-top: 30px;
  display: block;
  cursor: pointer;
}

.button:focus {
  outline-color: greenyellow;
}


.input__btn_disabled{
  background-color:white;
  color: grey;



  
}
.input__btn_disabled.hover{
  
  cursor:default;
}

.input__btn_active{
  background-color:black;
  color: white;

  
}
